body{
 padding: 20px;
    color:indianred;
}

/*vai se lascar bonaro*/
p{
    background-color: #333; 

}

.minha-bay{
    background-color: black;
    color: aqua;
}

#meu-titulo{
    background-color: bisque;
color: yellow;
padding: 15px;
font-family: helvetica;
}
/*coisas da pagina*/
*{
    font-family:arial;

}
p, h1{
    border-bottom: 1px solid red;
}